.todo-delete {
  cursor: pointer;
}

.todo-collection {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 300px;
  grid-column: content-s/content-e;
  grid-row: collection-s/collection-e;
  justify-items: center;
  overflow-y: scroll;
}
